.header-container {
    background-color: #495E57;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}

.head-text {
    display: flex;
    align-items: center;
    margin: 0;
    height: 314px;
    padding: 0 10rem;
}

.text-content {
    flex: 1;
    margin-top: -1rem;
}

.head-text h1 {
    color: #F4CE14;
    width: 232px;
    font-size: 38px;
    font-family: 'Markazi Text', sans-serif;
    font-weight: 560;
    padding: 0 ;
}

.head-text h2 {
    color: #ffffff;
    width: 120px;
    height: 40px;
    font-size: 28px;
    font-family: 'Markazi Text', sans-serif;
    font-weight: 570;
    margin-top: -1.6rem;
}

.head-text p {
    color: #ffffff;
    width: 432px;
    height: 50px;
    font-size: 16px;
    font-family: sans-serif;
    margin: 24px 0 50px;
    text-align: left;
}

.head-text a {
    width: 148px;
    height: 46px;
    top: 10px;
    border-radius: 2rem;
    background-color: #F4CE14;
    color: #495E57;
    font-weight: bold;
    border: 0.1875rem solid #F4CE14;
    transition: background, border, color 0.5s;
    padding: 0.7rem 0.5rem;
    text-decoration: none;
}



.head-text a:hover {
    background: #495E57;
    color: white;
}

.cta {
    left: 0;
    width: 160px;
}

.food-logo {
    width: 432px;
    height: 384px;
    border-radius: 15px;
}

.image-container {
    margin: 170px 0px 0;
}
